<div class="my-16 px-4" id="services">
    <h2 class="text-3xl font-bold text-center mb-8">Meus Serviços</h2>
    <div class="p-formgrid grid">
        <div class="field col-12 sm:col-6 xl:col-4 p-4 mx-auto justify-center items-center">
            <p-card class="mx-auto card justify-center items-center">
                <ng-template pTemplate="header">
                    <div class="flex items-center mx-auto justify-center mb-4">
                        <i class="pi pi-camera text-3xl p-4 mx-auto text-primary"></i>
                    </div>
                    <h3 class="text-xl font-semibold text-center">Fotografia de Casamentos</h3>
                </ng-template>
                <p class="m-0 text-center text-gray-600 dark:text-gray-300">
                    Capturamos os momentos mais especiais do seu grande dia com perfeição e sensibilidade.
                </p>
            </p-card>
        </div>
        <div class="field col-12 sm:col-6 xl:col-4 p-4">
            <p-card class="card">
                <ng-template pTemplate="header">
                    <div class="flex items-center justify-center mb-4">
                        <i class="pi pi-camera-retro text-3xl p-4 mx-auto text-primary"></i>
                    </div>
                    <h3 class="text-xl font-semibold text-center">Ensaios Fotográficos</h3>
                </ng-template>
                <p class="m-0 text-center text-gray-600 dark:text-gray-300">
                    Realizamos ensaios fotográficos personalizados para registrar momentos especiais de sua vida.
                </p>
            </p-card>
        </div>
        <div class="field col-12 sm:col-6 xl:col-4 p-4">
            <p-card class="card">
                <ng-template pTemplate="header">
                    <div class="flex items-center justify-center mb-4">
                        <i class="pi pi-briefcase text-3xl p-4 mx-auto text-primary"></i>
                       <!-- <video autoplay muted loop class="w-12 h-12 mx-auto" style="width: 64px; height: 64px">
                            <source src="https://cdn-icons-mp4.flaticon.com/512/15584/15584186.mp4" type="video/mp4">
                        </video>-->
                    </div>
                    <h3 class="text-xl font-semibold text-center">Fotografia Comercial</h3>
                </ng-template>
                <p class="m-0 text-center text-gray-600 dark:text-gray-300">
                    Oferecemos serviços de fotografia de alta qualidade para o seu negócio ou produto.
                </p>
            </p-card>
        </div>
    </div>
</div>

<div class="bootstrap-styles">

</div>