<div class="gallery-container">
  <!-- Filtros -->
  <div class="filters">
    <button 
      *ngFor="let filter of filters" 
      
      [class.active]="selectedFilter === filter">
      {{ filter }}
    </button>

      <!-- Filtro por data -->
  <p-datepicker [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
  [(ngModel)]="selectedDate" 
 
  dateFormat="yy-mm-dd" 
  placeholder="Selecione uma data">
</p-datepicker>

  </div>
<!--
  <div class="card">
    <h5>Galleria</h5>
    <p-galleria [value]="images" [responsiveOptions]="galleriaResponsiveOptions"
                [containerStyle]="{'max-width': '800px','padding':'0 10% 0 10%', 'margin':'auto'}" [numVisible]="6" [circular]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 100%;background-attachment: fixed;background-position: cover; display: block;"/>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid nogutter justify-center">
                <img [src]="item.thumbnailImageSrc" style="display: block;width:10rem"/>
            </div>
        </ng-template>
    </p-galleria>
</div>
-->
</div>
<div class="card">
  <h5>Carousel</h5>
  <p-carousel  [value]="images"  [numVisible]="4" [numScroll]="2" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
      <ng-template let-item pTemplate="item" >
              <div class="border-round m-2 text-center p-2 w-auto h-auto" style="border: 1px solid var(--surface-d)" >
                  <div class="my-5 w-auto h-auto">        
                      <img [src]="item.itemImageSrc" class="shadow-4" width="100%" style="background-attachment: fixed;background-position: cover; display: block;"/>
                  </div>
              </div>
      </ng-template>
  </p-carousel>
</div>