<div class="bootstrap-styles">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    
      <!-- Seção: Redes sociais -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Veja nossas redes sociais:</span>
        </div>
    
        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="pi pi-facebook"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="pi pi-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="pi pi-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="pi pi-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="pi pi-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="pi pi-github"></i>
          </a>
        </div>
      </section>
      <!-- Seção: Redes sociais -->
    
     
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Marcos Borba. 
        <a class="text-reset fw-bold" href="#">Todos os Direitos Reservados.</a>
        <br>
        Desenvolvido por Jonatã Mendes
      </div>
    
    </footer>
    <!-- Footer -->
    </div>

    <div class="bootstrap-styles">

     <!-- Botão Voltar ao Topo -->
     <button id="backToTopBtn" class="btn btn-primary btn-lg" title="Voltar ao Topo">↑</button>

     <!-- Botão WhatsApp Flutuante -->
     <a href="https://wa.me/+5599982186074" target="_blank" id="whatsappButton">
         <i class="fab fa-whatsapp"></i>
     </a>
     </div>