<div class="bootstrap-styles">
<div id="call-action" class="cta-section text-center">
    <!-- Elementos geométricos giratórios -->
    <div class="rotating-shape"></div>
    <div class="rotating-shape"></div>
    <div class="rotating-shape"></div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="animate__animated animate__fadeInLeft">Garanta uma sessão</h1>
                <p class="animate__animated animate__fadeInLeft animate__delay-1s"> Agende uma sessão com um dos nossos profissionais.</p>
                <a href="#contact" class="btn btn-light btn-lg animate__animated animate__bounce">Agende sua seção</a>
            </div>
            <div class="col-md-6">
                <img src="assets/images/mb-2.png" alt="Marcos Borba" class="cta-image animate__animated animate__fadeInRight" />
            </div>
        </div>
    </div>
</div>
</div>