<div class="bootstrap-styles">
     
<div id="videoCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <video autoplay muted loop>
                <source src="https://videos.pexels.com/video-files/29168313/12596095_2560_1440_30fps.mp4" type="video/mp4">
                Seu navegador não suporta o vídeo.
            </video>
            <!-- Foto de Perfil -->
            <div class="profile-container">
                <img src="/assets/images/mb.png" alt="Foto de Perfil" class="profile-img">
            </div>
            <div class="carousel-caption">
                 <!-- Content -->
            <div class="text-center caption white-text mx-5 wow fadeIn">

                
                <h1 class="mb-2">
                    <div class="line-left"></div>
                    <strong>Olá sou Marcos Borba</strong>
                    <div class="line-right"></div>
                </h1>
                
                <p>
                 <div class="line-left"></div>
                  <strong>Fotografo Profissional</strong>
                 <div class="line-right"></div>
               
                
                <p class="mb-2 d-none d-md-block">
                 <div class="line-left"></div>
                  <strong>Veja alguns dos meus trabalhos</strong>
                 <div class="line-right"></div>
                
                <a href="/agendamento"><button pButton pRipple type="button" icon="pi pi-bookmark" label="Começe Agora" class="p-button-outlined p-button-info"></button></a>
            </div>  
              <!-- Content -->
            </div>
        </div>
        <div class="carousel-item">
            <video autoplay muted loop>
                <source src="" type="video/mp4">
                Seu navegador não suporta o vídeo.
            </video>
            <div class="carousel-caption">
                  <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong></strong>
                </h1>
  
                <p>
                  <strong></strong>
                </p>
  
                <p class="mb-4 d-none d-md-block">
                  <strong></strong>
                </p>
  
               
                <a href="/agendamento"><button pButton pRipple type="button" icon="pi pi-bookmark" label="Saiba Mais" class="p-button-outlined p-button-info"></button></a>
              </div>
              <!-- Content -->
            </div>
        </div>
        <div class="carousel-item">
            <video autoplay muted loop>
                <source src="" type="video/mp4">
                Seu navegador não suporta o vídeo.
            </video>
            <div class="carousel-caption">
                  <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong></strong>
                </h1>
  
                <p>
                  <strong></strong>
                </p>
  
                <p class="mb-4 d-none d-md-block">
                  <strong></strong>
                </p>
  
               
                <a href="/agendamento"><button pButton pRipple type="button" icon="pi pi-bookmark" label="Explore Funcionalidades" class="p-button-outlined p-button-info"></button></a>
              </div>
              <!-- Content -->
            </div>
        </div>
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
  </div>
  </div>