#sobre {
    background-color: #F2F2F2;
    width: 100%;
    color: #333333;
  }
  
  #sobre img {
    height: auto;
    width: 300px;
    object-fit: cover;
    border: 5px solid #FFD700;
    padding: 5px;
    border-radius: 50%;
    max-width: 100%;
  }