    <!-- Seções -->
     <div class="bootstrap-styles">
    <section id="about" class="container py-5" style="width: 100vw">
        <h2 class="text-center mb-4">Sobre Mim</h2>
        <div class="row">
          <div class="col-md-6">
            <img src="/assets/images/mb.png" alt="Sobre Mim" class="img-fluid w-20rem img-thumbnail mx-auto d-block rounded-circle">
          </div>
          <div class="col-md-6">
           <p>Sou um fotografo profissional com uma vasta experiencia em diversas
            areas da fotografia, incluindo fotografia de eventos, fotografia de
            produtos e fotografia de paisagens. Sou especializado em fotografias
            profissionais de alta qualidade, com uma abordagem criativa e
            inovadora para capturar momentos especiais e criar experiencias
            memoriaveis.
           </p>
          </div>
        </div>
      </section>
      </div>